.menubar-container
{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    z-index: 1;

}
.menu-items{
    position: absolute;
    right: 25%;
    left: 25%;
    text-align: center; /* This centers the text in the available space */
   
}
.menu-item{
    margin-right: 20px;
    color: black;
}
.menu-item:last-child {
    margin-right: 0;
  }

.menu-icon{
    margin-right: 10px; /* Adds some space between the icons */
    margin-left: 10px;
}

body {
    margin-top: 2.9rem;
}

.menubar-container.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E6E0D7;
    z-index: 1;
}