.landingPageContainer {
  width: 100%;
  background-image: url('../assets/images/DiningSet.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.contentContainer {
  background-color: rgba(255, 255, 255, 0.6); /* Gives the picture transparency */
  padding: 42px;
  position: absolute;
  left: 0;
  bottom: 0;
  top:90px;
  width: 35%;
}

.browseproductButton {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px 4px 2px;
  cursor: pointer;
  margin-top: 80px;
  background-color:  #f9f9f9;
}

@media (max-width: 768px) {
  .landingPageContainer h1 {
    font-size: 24px;
  }
  .landingPageContainer p {
    font-size: 14px;
  }
}

@media (max-width: 380px) {
  .landingPageContainer h1 {
    font-size: 18px;
  }
  .landingPageContainer p {
    font-size: 10px;
  }
}
