.receipt_Container {
  display: flex;
  flex-direction: column;

  background-color: #e6e0d7;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #000000;
  width: 80%;

}

.receipt_total {

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;




}

.receiptItem_Container {
  display: flex;
  flex-direction: column;
  width: 100%;


}

.receiptItem_Container_firstline {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;

}

.receiptItem_discount {
  display: flex;
  justify-content: end;

  margin-right: 5%;
  margin-top: 0px;
  color: #0000FF;
}

.receiptItem_Item {
  display: flex;
  justify-content: start;
  width: 100%;
  margin-left: 5%;
  margin-bottom: 0px;
}

.receiptItem_Quan {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-right: 5%;
  margin-bottom: 0px;

}