.checkout-menubar-container{
    width: 100%;
    display: flex;
    justify-content:space-between;
    
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #ececec;
}
.menubar-link{
    display: flex;
    align-items: center; 
    color: black;
}
.front{
    display: flex;
align-items: center;
justify-content: flex-start;
margin-left: 3%;
width: 33.33%;
}
.middle{
display: flex;
align-items: center;
justify-content: center;
width: 33.33%;
}
.back{
    display: flex;
align-items: center;
justify-content: flex-end;
margin-right: 3%;
width: 33.33%;
}

.progress-bar {
    display: flex;
    align-items: center;
   
}
.progress-bar-step{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
}
.progress-bar-step-numb{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    width: 40px; /* Adjust as needed */
    height: 40px;
    border-radius: 50%;
    color: white  ;
}
.progress-bar-step-numb.active{
    background-color: black;
}
.progress-bar-step-numb.complete{
    background-color: #65f848;
}
.horizontal-line.active{
    background-color: black;

}
.horizontal-line.complete{
    background-color: #65f848;
}

.progress-bar-step-text{
    font-size: 10px;
}

.horizontal-line {
    height: 2px;
    background-color: gray; /* Or any color */
    width: 60px; /* Or any specific width */
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.horizontal-line.active {
    background-color: black;
}

.horizontal-line.complete {
    background-color: #65f848;
}
@media screen and (max-width: 600px) {
    .progress-bar-step-numb
    {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }
    .horizontal-line {
        width: 30px;
    }
    .progress-bar-step-text{
        font-size: 8px;
    }
}