<<<<<<< HEAD
.checkout-menubar-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #ececec;
=======
.checkout-menubar-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #ececec;
>>>>>>> development
}
.menubar-link {
  display: flex;
  align-items: center;
  color: black;
}

.progress-bar {
  display: flex;
  align-items: center;
}
.progress-bar-step {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.progress-bar-step-numb {
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;
  width: 40px; /* Adjust as needed */
  height: 40px;
  border-radius: 50%;
  color: white;
}
.progress-bar-step-numb.active {
  background-color: black;
}
.progress-bar-step-numb.complete {
  background-color: #65f848;
}

.progress-bar-step-text {
  font-size: 10px;
}

.horizontal-line {
  height: 2px;
  background-color: gray; /* Or any color */
  width: 60px; /* Or any specific width */
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.horizontal-line.active {
  background-color: black;
}

.horizontal-line.complete {
  background-color: #65f848;
}
