.topbar-container {
  display: flex;
  overflow-x: hidden;  

  width: 100%; 
  background-color: #e6e0d7;

}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;


  margin-left: 1%;
}

.social-icon {
  margin-right: 10px; 
  margin-top: 3px;
  margin-bottom: 0px;
}

.shipping-info {
  display: flex;

  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
 
  white-space: nowrap;
  overflow: hidden;
  color: black;
  animation: run-text 40s linear infinite;
}
@keyframes run-text {
  0%, 100%{
    transform: translateX(81vw);
  }
  50% {
    transform: translateX(1vw);
}
}
@media (max-width: 581px) {
  .shipping-info {
    font-size: 10px; /* Hides the shipping info on smaller screens */
  }
}
@media (max-width: 450px) {
  .shipping-info {
    display: none; /* Further reduces the font size on smaller screens */
  }
}
