form label,
form select,
form input {
  display: block;
  background-color: #ffffff;
  color: black;
  margin-bottom: 10px;
  height: 48px;
}

form input:not(.small-input),
form select {
  width: 100%;
  max-width: 520px;
  min-width: 50px;
}

@media (max-width: 581px) {
  form input:not(.small-input),
  form select {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .contact-info,
  .delivery {
    width: 90%;
  }
}
