.form {
  width: 90%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  background-color: #e6e0d7;
}

.zipform-containerLarge{

    width: 90%;
    padding-bottom: 20px ;
     display: flex;
     align items : center
      flex-direction: column;
grid-template-columns: repeat(2, 1fr);

    flex-direction: columns;

  gap: 10px;

    background-color: #e6e0d7;
}

.checkout-UserInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-right: 30px;
}
.form-content {
  margin-left: 3%;
  margin-right: 3%;
}
.email-info {
  width: 100%;
}

.zipform-container {
  margin-bottom: 10px;
  align
  gap: 10px;
}



label.checkbox {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 600px;
  gap: 4px;
  padding-bottom: 20px; /* Added height padding */
}

label.checkbox > input {
  outline: none;
  height: 20px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .checkout-UserInfo, .zipform-container, zipform-containerLarge{
    grid-template-columns: 1fr;
  }
  
}
