/* base container for siden*/
.checkout-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px; /* Dette skaber afstand mellem kolonner */
}
  
/* Flex container for de 2 overordnede containers */
.checkout-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

/*Sørger for de 2 containere deler samme stil*/
.checkout-left,
.order-summary {
  background-color: #928f89;
  padding: 20px;
  border-radius: 8px;
  width: 48%; /* Afstanden mellem de 2 columns */
  min-height: 500px; 
  /*margin-bottom: 20px;*/
}

/* Stil for input og labels */
.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="email"],
.input-group select,
.input-group input[type="text"] {
  width: 60%;
  padding: 10px;
  margin-bottom: 10px; /* Afstand under input-felter */
  background-color: rgb(202, 199, 191);
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 4px; /* Giver afrundede hjørner */
}

.input-group input[type="checkbox"] {
  margin-right: 5px; /* Afstand mellem checkbox og label */
}